*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
}

.play {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  width: 50px;
  height: 100%;
  font-size: 15pt;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  box-shadow: inset -1px 0 0 0 #ddd;
}

.play:hover {
  border-color: #c00;
}

.play i {
  color: #333;
}

.play:hover i {
  color: #c00;
}

.play:active i {
  color: #000;
}

i.fa-play { transform: translateX(2px); }
