*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
}

.play {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  width: 50px;
  height: 100%;
  font-size: 15pt;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  box-shadow: inset -1px 0 0 0 #ddd;
}

.play i {
  color: #888;
}

.play:hover i, .play:active i {
  color: #000;
}

i.fa-play { transform: translateX(2px); }

.wrapper {
  display: flex;
}

.progress {
  height: 50px;
  -webkit-appearance: none;
  border: none;
  flex: 1;
}

.progress::-webkit-progress-bar {
  background: transparent;
}

.progress::-webkit-progress-value {
  background: #00cdaa;
  opacity: 0.5;
}
